{
  "extends": "airbnb",
  "globals": {
    "APP_CONFIG": 1,
    "document": 1
  },
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
  },
}
